.bannerMenu{
    text-align: right;
    padding-bottom: 15px;

}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 5px;
}

.fa-twitter{
    background: #55ACEE;
    color: white !important;
}

.fa-instagram{
    background: #3f729b;
    color: white !important;
}

.fa-linkedin{
    background: #0077B5;
    color: white !important;
}

.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.img-circle {
    border-radius: 50%;
}

.pull-left {
    float: left !important;
}

.textoMenu{
    color: #3F5666;    
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif !important;        
}

.textoMenu:hover{
    color: #00adee !important;    
}


.tituloDestacado{
    text-align: right;
    align-items: flex-end;
}

.tableContactHome{
    text-align: left;
    align-content: left;
    vertical-align: middle;
}

.left {
    position: inherit;
    left: -20px;
    padding: 7px;
}

.right{
    display: table-cell;
    vertical-align: baseline;
    margin-top: 1em;
    position: inherit;
    right: 0px;
    align-content: flex-end;
    vertical-align: inherit;
    padding: 10px;
}

.informacionInmuebleDestacado{
    list-style-type: none !important;
    list-style-image: none !important;
    margin: -2px !important;
    padding:-2px !important;
}

.tableEspacios { 
    border-spacing: 0;
    border-collapse: collapse;
}

.tableBuscador{
    width: 90%;
}

.tdImageSearch{
    width: 10%;
}

.tdSelectSearch{
    width: 90%;
}

.tdCheckSearch{
    align-items: flex-start;
    width: 5%;
}

.tdTextSearch{
    width: 60%;
}

.textoContenido{
    color: rgba(0,0,0,60);
    font-weight: normal; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
}

.textoContenidoConsignar{
    color: rgba(0,0,0,60);
    font-weight: normal; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
    text-align: justify;
}

.textoContenidoCentrado{
    color: rgba(0,0,0,60);
    font-weight: normal; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
    text-align: center;
}

.textoContenidoBlanco{    
    font-weight: normal; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
}


.titulosPrincipales{
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif !important;        
}

.textoNegrita{
    font-weight: bold;        
}

.textoPequenioFormularos{
    font-size:14px;
}


.bordeadoBox{
    border: 1px solid #d2d6de; 
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

}


.titulosSecundarios{        
    font-family: 'Source Sans Pro Semibold', sans-serif !important;        
}


.textoVinietas{
    font-weight: lighter; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
}


.liSinEspacio{
    list-style-type: none;
    margin: -5px !important;
    padding: -5px !important;
}

.divSinEspacio{
    width:30px;height:35px;
    //border:blue 1px solid;
    display:inline-block;
    *display:inline;zoom:1;
    margin:0px;outline:none;
}

.imagenesListadoInmueblesContenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}



/*Permite que el texto aparezca encima de las imagenes de los inmuebles*/
.ofertaInmuebleListaPublica{
    position: absolute;
    top: 0px;
    left: 0px;      
}



.transparencia{
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}




.botonSeleccionado{
    background-color: gray;
}




.textoCaracteristicasInmueble{
    color: gray;    
    font-family: 'Source Sans Pro', sans-serif !important;    
    font-size: 16px !important;
}


.EspaciadoCaracteristicasInmueblePequenio{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}



/******ESTILOS CHECKBOX CARCTERISTICAS INMUEBLE********/

/* The container */
.containerCheckbox {   
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;     
}

/* Create a custom checkbox */
.checkmarkcheckbox {
    position: absolute;
    top: 20px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-style: groove;
    border-radius: 5px;
}


.containerCheckbox input:checked ~ .checkmarkcheckbox {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkcheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmarkcheckbox:after {
    display: block;
}

/* Style the checkmark/indicator*/
.containerCheckbox .checkmarkcheckbox:after {
    left: 3px;
    top: 0px;
    width: 7px;
    height: 11px;
    border: solid black;    
    border-width: 0 3px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bg-hexagono {
    background-color: #3F5666 !important;
}




.botonFiltroBusquedaBanner{
    width: 150px;
}

.botonFiltroBusquedaBanner:hover{
    background-color: gray;
}


/*ENFOCADO AL CARRUSEL Y AL BUSCADOR DEL CARRUSEL*/

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 951px) {
    /*PARA LA UBICACION DEL FILTRO DE BUSQUEDA*/
    .filtroBusquedaBanner{
        position: absolute;
        top: 40%;
        left: 30%;      
    }

    .brandingHexagono{
        padding-left: 150px;
    }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 950px) {
    /*PARA LA UBICACION DEL FILTRO DE BUSQUEDA*/
    .filtroBusquedaBanner{        
        position: absolute;
        top: 15%;
        left: 5%; 
    }

    .botonFiltroBusquedaBanner{
        width: 110px;
    }

    .bannerMenu{
        text-align: left;        
    }
    
    .brandingHexagono{
        padding-left: 75px;
    }
}